@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .brand-gradient {
    @apply gradient-animated bg-gradient-to-r from-violet-500 to-pink-500;
  }
  .text-brand-gradient {
    @apply gradient-animated bg-gradient-to-r from-violet-500 to-pink-500 text-transparent bg-clip-text;
  }
  .button {
    @apply bg-black text-white py-1 px-3 rounded-lg transition-all flex items-center justify-center gap-1;
  }
}

.gradient-animated {
  background-size: 200%;
  animation: animated_text 7s ease-in-out infinite;
  -moz-animation: animated_text 7s ease-in-out infinite;
  -webkit-animation: animated_text 7s ease-in-out infinite;
}

@keyframes animated_text {
  0% {
    background-position: 0px 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0px 50%;
  }
}

html {
  font-family: 'Inter';
}
